<ion-header>
  <ion-toolbar color="primary" style="height: 100px">
    <ion-avatar style="width: 45px; height: 45px;margin-left: auto;margin-right: auto">
      <img src="assets/img/user.png">
    </ion-avatar>
    <ion-title text-center style="margin-top: 1%">Usuario: Daniel Moreno</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="back()" fill="solid">
        <ion-icon name="arrow-round-back" color="primary"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="goRegister()" fill="solid">
        <ion-icon name="person" color="primary"></ion-icon>
        Registrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="medium">

  <ion-toolbar color="primary">
    <ion-title class="list" text-center>USUARIOS</ion-title>
  </ion-toolbar>

  <ion-item-sliding *ngFor="let user of users">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/user.png">
      </ion-avatar>
      <ion-text>
        <h1> {{ user.id }}</h1>
      </ion-text>
      <ion-text slot="end">
        <h1>{{ user.rol }}</h1>
      </ion-text>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="delete(user)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item *ngIf="users.length == 0">
    <ion-text>No hay usuarios</ion-text>
  </ion-item>

</ion-content>