<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Usuarios</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="back()" fill="solid"  style="height: 45px; border: 2px #000 solid;">
          <img src="../../../assets/img/return.png" />
          <ion-label color="dark" style="font-size: 26px">Volver</ion-label>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="medium">

  <div class="backgroundwhite">
      <ion-header color="secondary">
        <ion-card-title>AVERIAS</ion-card-title>
      </ion-header>     
        <ion-list class="list">
          <ion-item-sliding *ngFor="let user of users">
          <ion-item>
              <ion-avatar slot="start">
                  <img src="assets/img/user.png">
              </ion-avatar>
              <ion-text> <h1> {{ user.id }}</h1></ion-text>
              <ion-text slot="end"> <h1>{{ user.rol }}</h1></ion-text>               
          </ion-item>
          <ion-item-options side="end">
              <ion-item-option color="danger" (click)="delete(user)">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>      
        <ion-item *ngIf="users.length == 0">
          <ion-text>No hay usuarios</ion-text>
      </ion-item>
  
        </ion-list>
    </div>
  </ion-content>

  <ion-footer no-border >
    <ion-toolbar color="medium" padding>
      <ion-buttons>
        <ion-button (click)="goRegister()" fill="solid"  style="height: 45px; border: 2px #000 solid;">
          <img src="../../../assets/img/add-user.png" />
          <ion-label color="dark" style="font-size: 26px">Registrar</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>