
.list{
    min-height: 90%;
    max-height: 100%;
    overflow-y: scroll;
  }

  .backgroundwhite {
    background-color: white;
    height: 80%;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;
  }