.border {
    border: 2px #000 solid;
}

ion-input{
    color: #000
}

.blanco{
    background-color: #fff
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toastcss {
    background-color:#32db64!important;
    font-weight: bold;
    position: absolute;
    top: 446px !important;
    text-align: center !important;
    border-radius: 30px !important;
    width: 50% !important;
  }