.border {
    border: 2px #000 solid;
}

ion-input{
    color: #000
}

.blanco{
    background-color: #fff
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}