<ion-header >
  <ion-toolbar color="primary" >
      
    <ion-title text-center>
      <img src="../../../assets/icon/logo.png" alt="" width="8%" height="8%">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="large" (click)="logOut()">
        <ion-icon name="exit" style="font-size: 40px" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="medium">

<ion-toolbar color="primary">
    <ion-title text-center >AVERIAS</ion-title>
  </ion-toolbar>

    <ion-item-sliding *ngFor="let inc of damages">
      <ion-item>
        <ion-text>          
          <h1><ion-icon name="car" color="primary"></ion-icon> {{ inc.id }} - {{inc.car}} - {{inc.date}}</h1>
        </ion-text>
        <ion-buttons slot="end">
          <ion-button (click)="goDamage(inc)" size="large" >
            <ion-icon name="eye" color="primary" size="large"></ion-icon>
          </ion-button>
          <ion-button (click)="goBudget(inc)">
            <ion-icon name="document" color="primary" size="large"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="deleteDamage(inc)" color="danger">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
    <ion-item *ngIf="damages.length == 0">
      <ion-text>No hay partes abiertos</ion-text>
    </ion-item>

</ion-content>
<ion-footer no-border>
  <ion-toolbar color="medium">
    <ion-buttons slot="end" padding>
        <ion-buttons slot="end">
            <ion-button (click)="goUsers()" fill="solid" size="large">
              <ion-icon name="people" color="primary"></ion-icon>
              <ion-label color="primary">Usuarios</ion-label>
            </ion-button>
          </ion-buttons>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>