<ion-header no-border>
  <ion-toolbar color="secondary" no-border>
    <ion-title text-center>MENU</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" (click)="goUsers()">
          <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
          <ion-label>Usuarios</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding color="medium">

<div class="backgroundwhite">
    <ion-header color="secondary">
      <ion-card-title>AVERIAS</ion-card-title>
    </ion-header>     
      <ion-list class="list">
        <ion-item-sliding *ngFor="let inc of damages">
        <ion-item (click)="goDamage(inc)">
            <ion-avatar slot="start">
                <img src="assets/img/questionnaire.png">
              </ion-avatar>
              <ion-text> <h1>Averia {{ inc.id }}</h1> Vehiculo: {{inc.car}} </ion-text>  
              <ion-text slot="end">Fecha: {{inc.date}}</ion-text>
        </ion-item>
        <ion-item-options side="end">
            <ion-item-option (click)="deleteDamage(inc)" color="danger">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
      </ion-item-sliding>      
      <ion-item *ngIf="damages.length == 0">
        <ion-text>No hay partes abiertos</ion-text>
    </ion-item>

      </ion-list>
  </div>
</ion-content>
