<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Detalles de la reparacion</ion-title>
    <ion-buttons slot="start"> 
      <ion-button fill="solid" (click)="comeback()">
        <ion-icon name="arrow-round-back"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="medium">
  <ion-row>
    <ion-col size="6" style="padding-top: 30px; padding-left: 30px;  ">
      <ion-title color="dark" style="font-size: 36px">Detalles:</ion-title>
        <ion-title color="dark" style="font-size: 30px">{{this.data.id}} - {{this.data.date}}</ion-title>
        <ion-title color="dark" style="font-size: 36px">Cliente:</ion-title>
        <ion-title color="dark" style="font-size: 30px">{{this.customer.name}} - {{this.customer.nif}}</ion-title>
        <ion-title color="dark" style="font-size: 36px">Vehiculo:</ion-title>
        <ion-title color="dark" style="font-size: 30px">{{this.vehicle.enrollment}} - {{this.vehicle.brand}} - {{this.vehicle.model}}</ion-title>
    </ion-col>
    <ion-col size="6" style="text-align: center">
      <img [src]="this.data.imageB64" alt="" height="300px" width="500px">    
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-header>
          <ion-list-header>
            <ion-title text-center><h1>Averias del vehiculo {{this.data.car}}</h1></ion-title>
          </ion-list-header>
        </ion-header>
  </ion-row>       
  <ion-row>
    <ion-col>
        <ion-list >
            <ion-item color="primary">
                <h3>Carroceria</h3>
              </ion-item>
            <ion-item *ngFor="let av of this.details.damages; let i = index;">
              <ion-text>{{i + 1 }} - {{av.info}}</ion-text>
            </ion-item>            
          </ion-list>
    </ion-col>
    <ion-col>
      <ion-list>
          <ion-item color="primary">
              <h3>Internas</h3>
            </ion-item>
            <ion-item *ngFor="let av of this.details.internDamages">
              <ion-text>{{av}}</ion-text>
            </ion-item>
      </ion-list>
    </ion-col>
  </ion-row> 

</ion-content>

<ion-footer no-border>
  <ion-toolbar color="medium">
      <ion-button color="light" (click)="goBudget()">
          <ion-icon name="document" color="primary" size="large"></ion-icon>
          <ion-label color="primary">PRESUPUESTO</ion-label>
        </ion-button>
  </ion-toolbar>
</ion-footer>
