<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Detalles de la reparacion</ion-title>
    <ion-buttons slot="end"> 
      <ion-button fill="solid" (click)="comeback()">
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="medium">

    <div class="backgroundwhite">
        <ion-card-header>
          <ion-card-title> AVERIA: {{this.data.id}} - {{this.data.car}}</ion-card-title>
          <ion-card-subtitle class="sub">{{this.customer.name}} / {{this.customer.nif}}</ion-card-subtitle>
        </ion-card-header>
    
        <canvas #myCanvas id="myCanvas"></canvas>
    
        <ion-header>
          <ion-list-header>
            <ion-title text-center><h1>Averias del vehiculo {{this.data.car}}</h1></ion-title>
          </ion-list-header>
        </ion-header>
        
        <ion-list class="summary">
            <ion-card-header>
                <ion-card-title>
                  <h1 text-center>AVERIAS CARROCERIA</h1>
                </ion-card-title>
              </ion-card-header>
          <ion-item *ngFor="let av of this.details.damages; let i = index;">
            <ion-text>{{i + 1 }} - {{av}}</ion-text>
          </ion-item>
          <ion-item>
            <h3>Internas</h3>
          </ion-item>
          <ion-item *ngFor="let av of this.details.internDamages">
            <ion-text>{{av}}</ion-text>
          </ion-item>
        </ion-list>
      </div>

</ion-content>
