
<ion-content  padding color="medium">
  
  <ion-grid style="height: 60%; width: 100%;">
    <ion-row justify-content-center align-items-center style="height: 100%">

          <img class="icon" src="assets/icon/logo.png" width="30%" height="70%"  />
          
    </ion-row>
    <ion-item style="margin-bottom: 20px; border: 2px #000 solid; width: 100%;margin-top: 2%" color="primary">
      <h2 style="color: #000">Desarrollada por Oscar Diaz y Daniel Moreno.</h2>
    </ion-item>
    <ion-item style="margin-bottom: 20px; border: 2px #000 solid; width: 100%" color="primary">
          <h3 style="color: #000">Aplicación para los talleres de automóviles que facilita las acciones de gestionar las averías, 
            crear presupuestos y comunicación con el cliente. Permitiendo un mejor rendimiento del taller y una mejor experiencia
             por parte del cliente.</h3>
    </ion-item>
    
    
  </ion-grid>
  
  <div text-center class="footer">
    <ion-label
      style="font-size: 28px; color: black; font-family: Georgia, 'Times New Roman', Times, serif; padding-bottom: 60px;">
      ODDM WorkShop ©
    </ion-label>

    <ion-fab vertical="bottom" horizontal="start">
      <ion-fab-button style="width: 60px; height: 60px;" (click)="back()">
          <ion-icon name="ios-arrow-back" style="font-size: 35px"></ion-icon>
      </ion-fab-button>
  </ion-fab>

  </div>
</ion-content>
