<ion-content>
    <div class="albaran" #pdf>
      <div class="header flex column">
        <h1 class="centrado">EJEMPLAR DE OBLIGADA ENTREGA AL CLIENTE</h1>
        <h4 class="centrado">RESGUARDO DE DEPÓSITO SIN PRESUPUESTO</h4>
        <div class="header-box flex">
          <div style="width:15%;" class="flex column">
            <label>TALLER:</label>
            <label>DIRECCION:</label>
            <label>TELEFONO:</label>
            <label>CIF:</label>
            <label>email:</label>
          </div>
          <div style="width:35%" class="flex column">
            <input type="text" class="text width" value="GestFuturo Talleres">
            <input type="text" class="text width" value="c/Mayor 1, 29008-Fuengirola-Malaga">
            <input type="text" class="text width" value="Telf:234234234234">
            <input type="text" class="text width" value="533792995T">
            <input type="text" class="text width" value="">
          </div>
          <div style="width:50%" class="flex column">
            <label>Nº de inscrición en el R.I.I.A:</label>
            <input type="text" class="text" value="">
            <label>RESGUARDO DE DEPÓSITO/ORDEN DE REPARACIÓN</label>
            <br>
            <div>
              <label><b>NºOrden reparación:</b></label>
              <input type="text" class="text strong" size="5" value="669">
              <label><b>Fecha:</b></label>
              <input type="text" class="text strong" size="10" value="19/10/2015">
            </div>
          </div>
        </div>
      </div>
    <!--------------------------------------------------------------------------------------------->
      <div class="section flex">
        <div class="article" style="width:50%">
          <div class="header">
            <h3 class="centrado">O.R.</h3>
          </div>
          <div class="content">
            <div class="double-input">
              <label>Matrícula:</label>
              <input type="text" class="text strong" value="MA-2135DYP">
              <label>Nº Chasis:</label>
              <input type="text" class="text strong" value="KMH57839730A">
            </div>
            <label>Marca y Modelo:</label> <input type="text" class="text strong" value="HYUNDAI COUPE 1.6"><br>
            <div class="double-input">
              <label>Kilómetros:</label>
              <input type="text" class="text strong" value="45.464">
              <label>Nivel Depósito:</label>
              <input type="text" class="text strong" value="3/4">
            </div>
            <label>Aseguradora:</label> <input type="text" class="text strong" value=""><br>
            <label>Perito:</label> <input type="text" class="text strong" value=""><br>
            <label>Siniestro:</label> <input type="text" class="text strong" value=""><br>
            <label>Seguro en Vigor:</label> <b>Sí</b><input type="checkbox" value="Sí"><b>No</b><input type="checkbox" value="No"><br>
          </div>
        </div>
        <div class="article" style="width:50%">
          <div class="header">
            <h3 class="centrado">CLIENTE</h3>
          </div>
          <div class="content">
            <label>Cliente:</label> <input type="text" class="text strong" value="TOMMY HORTALIZA"><br>
            <label>Dirección:</label> <input type="text" size="45" class="text" value="c/del Hortelano, ahorta 1, Portal zana, piso horia"><br>
            <label>Población:</label> <input type="text" size="45" class="text" value="29630 BENALMÁDENA COSTA"><br>
            <label>Provincia:</label> <input type="text" class="text" value="MALAGA"><br>
            <div class="double-input">
              <label>NIF/CIF:</label>
              <input type="text" class="text" value="729234837-G">
              <label>Telf:</label>
              <input type="text" class="text" value="698884159">
            </div>
            <br>
            <hr style="width:100%; border:solid 1px black">
            <label>Persona autorizada:</label><br>
            <div class="double-input">
              <label>D.N.I.:</label>
              <input type="text" class="text" value="">
              <label>Telf.:</label>
              <input type="text" class="text" value="">
            </div>
          </div>
        </div>
      </div>
    <!--------------------------------------------------------------------------------------------->
      <div class="section flex">
        <div class="article width">
          <div class="anomalias flex">
            <div style="width:30%;">
              <p class="centrado">Anomalías Observadas:</p>
              <div class="imagen"></div>
            </div>
            <div style="width:50%;">
              <p>OBSERVACIONES</p>
              <p>Zona 1: ANTENA ROTA. Zona 9: FALTA TAPAC.</p>
            </div>
            <div style="width:20%;">
              <input type="checkbox" value="">Radio<br>
              <input type="checkbox" value="">Carátula<br>
              <input type="checkbox" value="">Estado Neumáticos (marca si hay desgaste)<br>
              <input type="checkbox" value="Llave Antirrobo">Llave antirrobo<br>
              <input type="checkbox" value="">Otros....<br>
            </div>
          </div>
        </div>
      </div>
    <!--------------------------------------------------------------------------------------------->
      <div class="section flex">
        <div class="article" style="width:70%">
          <div class="header">
            <h3 class="centrado">Servicios Solicitados</h3>
          </div>
          <div class="content">
            <p>REVISION</p>
          </div>
          <div class="footer">
            <p>Total:</p>
          </div>
        </div>
        <div class="article" style="width:15%">
          <div class="header">
            <h3 class="centrado">Mano Obra</h3>
          </div>
          <div class="content">
            
          </div>
          <div class="footer bordertop">
    
          </div>
        </div>
        <div class="article" style="width:15%">
          <div class="header">
            <h3 class="centrado">Materiales</h3>
          </div>
          <div class="content">
            
          </div>
          <div class="footer bordertop">
    
          </div>
        </div>
      </div>
    <!--------------------------------------------------------------------------------------------->
      <div class="section flex">
        <div class="article width">
          <div class="header">
            <h3 class="centrado">Observaciones del Taller</h3>
          </div>
          <div class="content">
            
          </div>
        </div>
      </div>
    <!--------------------------------------------------------------------------------------------->
      <div class="footer flex column">
        <h1 class="centrado"><b>RENUNCIA A LA ELABORACIÓN DE PRESUPUESTO PREVIO</b></h1>
        <p><b>EL CLIENTE TIENE DERECHO A LA ELABORACIÓN DE UN PRESUPUESTO PREVIO. MEDIANTE LA PRESENTE FIRMA, EL USUARIO RENUNCIA A LA ELABORACIÓN DE PRESUPUESTO PREVIO, Y AUTORIZA A REALIZAR LOS TRABAJOS NECESARIOS PARA LA REPARACIÓN DEL VEHÍCULO Y/O SERVICIOS SOLICITADOS CONFORME A LO REFLEJADO EN ESTE RESGUARDO DE DEPÓSITO</b></p>
      </div>
    </div>
  
    <ion-button (click)="savePdf()"></ion-button>
  </ion-content>