<ion-content padding class="fondo">

  <ion-grid style="height: 95%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card id="login-card" class="ion-padding">

          <img class="icon" src="../../../assets/icon/logo.png" />
        
  
        <ion-item style="margin-bottom: 20px; margin-top: 20px; border: 2px #000 solid" color="primary">
          <ion-icon name="mail" padding color="dark"></ion-icon>
          <ion-input type="email" name="email" [(ngModel)]="mail" color="dark" placeholder="Email"></ion-input>
        </ion-item>
  
        <ion-item style="margin-bottom: 20px; border: 2px #000 solid" color="primary">
          <ion-icon name="lock" padding color="dark"></ion-icon>
          <ion-input type="password" name="password" [(ngModel)]="password" color="dark" placeholder="Contraseña"></ion-input>
        </ion-item>
  
  
        <div padding>
          <ion-button color="primary" expand="block" size="large" (click)="login()">
            <ion-icon name="md-checkmark-circle-outline" padding size="large"></ion-icon>
            <ion-label size="large">Entrar</ion-label>
          </ion-button>
        </div>
  
  
      </ion-card>
  
    </ion-row>
    <div text-center>
      <ion-label
        style="font-size: 28px; color: beige; font-family: Georgia, 'Times New Roman', Times, serif; padding-bottom: 20 px;">
        ODDM WorkShop ©
      </ion-label>
  
    </div>
  </ion-grid>
  
</ion-content>