<ion-content text-center>

    <div class="bg">
      <div class="head" text-center>
        <h1>G-Auto</h1>
        <h5>Hazlo facil</h5>
      </div>
  
      <div class="inputs">
        <ion-item class="ion-item">
          <ion-label class="ion-label" position="floating">Usuario</ion-label>
          <ion-input class="ion-input" type="text" [(ngModel)]="mail"></ion-input>
          <ion-icon name="md-person" slot="start"></ion-icon>
        </ion-item>
  
        <ion-item class="ion-item">
          <ion-label class="ion-label" position="floating">Contraseña</ion-label>
          <ion-input class="ion-input" type="password" [(ngModel)]="password"></ion-input>
          <ion-icon name="md-lock" slot="start"></ion-icon>
        </ion-item>
        <ion-button class="button" (click)="login()" fill="solid" expand="block">Acceder</ion-button>
        <p>Olvidaste tu contraseña?<b>Pulsa aquí</b></p>
        O
        <div class="fb" text-center>
            <ion-icon name="log-in" text-center></ion-icon>Para registrarte <a href=""> Pulsa aqui!! </a>
        </div>
      </div>
    </div>
</ion-content>