<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user"></ion-input>  
      </ion-item>

      <ion-item>
        <ion-select [(ngModel)]="rol">
          <ion-select-option value="mecanico">Mecanico</ion-select-option>
          <ion-select-option value="oficina">T. Oficina</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="mail"></ion-input>  
      </ion-item> 
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>  
      </ion-item>

      <ion-item>
        <ion-label position="floating">Repetir Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="cpassword"></ion-input>  
      </ion-item>
    </ion-list>
  
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <ion-button fill="solid" expand="block" color="dark" (click)="register()">Acceder</ion-button>
      </ion-col>
    </ion-row>
  
  </ion-content>
  
